@mixin flex-row-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-column-center {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}
