@import "./reset";
@import "./variables";
@import "./mixins";

.App {
	@include flex-column-center;
	padding: 10rem;

  h1 {
    font-size: 4rem;
    color: $dark-blue;
    font-weight: 600;
    text-align: center;
    margin-bottom: $margin-bottom * 2;
  }
}

.pricing-table {
	display: flex;
	flex-wrap: wrap;
	gap: 3rem;
	justify-content: center;
}

.card {
	background-color: $gray;
	border-radius: 10px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	padding: 3.5rem;
	text-align: center;
	width: 300px;

	h2 {
		font-size: 2.8rem;
		margin-bottom: $margin-bottom;
	}

	.price {
		font-size: 2.2rem;
		margin-bottom: $margin-bottom;
	}

  .month {
    color: #000;
    font-size: 1.8rem;
  }

	ul {
		margin-bottom: $margin-bottom * 1.5;

		li {
			@include flex-row-center;
			margin-bottom: 1.5rem;
      font-size: 1.4rem;

			.icon-check,
			.icon-cross {
				font-size: 2rem;
				margin-right: 0.5rem;
        font-weight: bolder;
			}
			
      .icon-cross {
				font-size: 1rem;
			}

			.icon-check {
				color: $green;
			}

			.icon-cross {
				color: red;
			}
		}
	}

	button {
		border: none;
		border-radius: 30px;
		color: #fff;
		cursor: pointer;
		font-size: 1.4rem;
		padding: 1rem 2.5rem;
		transition: background-color 0.2s;

		&:hover {
			filter: brightness(90%);
		}
	}
}

.green {
	@include card-border($green);
}

.purple {
	@include card-border($purple);
}

.pink {
	@include card-border($pink);
}
